body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#topo{
    width: 100%;
    height: 100%;
    background-color: black;
}
.fieldtop{
    width: 100%;
    height: 10.5%;
    background-color: #ffdb15;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.searchfield{
    width: 100%;
    height: 50%;
    background-color: #ffdb15;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.accountfield{
    display: flex;
    width: 100%;
    height: 50%;
    background-color: rgb(255, 217, 0);
    justify-content: center;
}
.slidefotos{
    width: 100%;
    height: 37.3%;
    background-color: rgb(228, 228, 228);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fotosfield{
    width: 80%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.fieldpagamento{
    width: 100%;
    height: 14%;
    background-color: rgb(228, 228, 228);
}

.recomendações{
    width: 100%;
    height: 38.8%;
    background-color: rgb(228, 228, 228);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cardsfild{
    width: 60%;
    height: 86%;
    background-color: brown;
}
.recomendações h2{
    font-size: 26px;
    font-weight: 300;
    margin: 0 0 0 8px;
    color: #666;
    width: 60%;
    position: relative;

}
.fotosfield input{
    display: none;
}
.slides {
    width: 100%;
    height: 100%;
    position: relative;
    transition: 0.2s;
}
.slides img{
    width: 100%;
    height: 100%;

}
.manual-navigation{
    position: absolute;
    width: auto;
    display: flex;
    justify-content: center;
    margin-top: 17%;
}
.manual-btn{
    border: 2px solid #fff;
    padding: 2px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child)
{
    margin-right: 5px;
}
.manual-btn{
    background-color: black;
}
.manual-btn:hover{
    background-color: white;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -100%;
}
#radio3:checked ~ .first{
    margin-left: -200%;
}
#radio4:checked ~ .first{
    margin-left: -300%;
}
#radio5:checked ~ .first{
    margin-left: -400%;
}

.whitebackground{
    background-color: white;
}
.logoML{
    width: 10%;
    height: 100%;
    position: relative;
    margin: 0.4%;
    display: flex;
}
.logo{
    background-image: url(/imgs/i579310.png);
    width: 134px;
    height: 34px;
    background-size: cover;
}
.searchContainer{
    width: 31.5%;
    height: 80%;
    background-color: #fff;
    position: relative;
    margin: 0.2%;
    right: 0.6%;
    clear: both;
}
input {
    display: flex;
    height: 100%;
    width: 100%;
}

.search{
    background-image: url(/imgs/lupa.png);
    background-repeat: no-repeat;
    padding-left: 5px;
    width: 30px;
    height: 29px;
    left: 94%;
    top: 17%;
    position: absolute;

}

.patrocinio{
    background-image: url(/imgs/patrocinio.png);
    position: relative;
    background-size: cover;
    width: 390;
    height: 45px;
    left: 1%;
}
.entrega{
    display: flex;
    justify-content: center;
    width: 8%;
    height: 90%;
    position: relative;
    right: 2%;
    cursor: pointer;
}
.entrega:hover{
    border: 1px groove #00000027;
    border-radius: 4px;
    
}
.img-local{
    width: 20%;
    height: 90%;
    background-image: url(/imgs/locanovo.png);
    background-size: auto;
    background-repeat: no-repeat;
    position: relative;
    top: 7px;
}
.info-endereco{
    width: 90%;
    height: 90%;
    margin: 2px;
    position: relative;
    left: 2px;
    bottom: 5px;
    cursor: pointer;
}

.info-endereco h3{
    font-family: "Proxima Nova",-apple-system,Roboto,Arial,sans-serif;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 10px;
    color: rgba(0,0,0,.5);
    line-height: 10px;
    top: 2px;
}
.info-endereco h2{
    font-family: "Proxima Nova",-apple-system,Roboto,Arial,sans-serif;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    color: rgba(0,0,0,.5);
    line-height: 10px;
    bottom: 2px;
}
.menu-top{
    display: flex;
    flex-wrap: wrap;
    width: 29%;
    height: 90%;
    position: relative;
    right: 2.7%;
}
.menu-top ul{
    list-style: none;
    display: inline-flex;
    font-family: "Proxima Nova",-apple-system,Roboto,Arial,sans-serif;
    color:rgba(51,51,51,.6);
    cursor: pointer;
    font-size: 14px;
}
.menu-top li{
    padding-right: 25px;
    line-height: 14px;
}
.account{
    width: 20%;
    height: 90%;
    position: relative;
    left: 4.9%;
    display: flex;
    align-items: center;
}
.photoaccount{
    width: 25px;
    height: 25px;
    position: relative;
    cursor: pointer;
}
.photoc{
    background-image: url(/imgs/logo\ conta.jpg);
    width: 25px;
    height: 25px;
    background-size: cover;
    border-radius: 20px;
}
.accountdetalhes{
    display: flex;
    align-items: center;
    width: 19%;
    height: 100%;
}
.accountdetalhes ul{
    list-style: none;
    display: inline-flex;
    font-family: "Proxima Nova",-apple-system,Roboto,Arial,sans-serif;
    color:rgba(51,51,51,.6);
    cursor: pointer;
    font-size: 14px;
    position: relative;
    right: 32px;
    gap: 15px;
}
.accountdetalhes li{
    display: flex;
    align-items: center;
}
.accountdetalhes i{
    position: relative;
    left: 4px;
}
/*-------------------  FONTS DO SITE ----------------------------*/
@font-face {
    font-family: "TitilliumWeb";
    src: url("/fonts/Titillium_Web/TitilliumWeb-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "TitilliumWebItalic";
    src: url("/fonts/Titillium_Web/TitilliumWeb-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "poppins-bold";
    src: url("/fonts/poppins/poppins-bold-webfont.ttf") format("truetype");
}

@font-face {
    font-family: "lora-regular";
    src: url("/fonts/lora/lora-regular-webfont.ttf") format("truetype");
}

@font-face {
    font-family: "Bungee";
    src: url("/fonts/Bungee/Bungee-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "ABeeZee";
    src: url("/fonts/ABeeZee/ABeeZee-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "navigation";
    src: url("https://http2.mlstatic.com/frontend-assets/ml-web-navigation/ui-navigation/5.21.22/mercadolibre/navigation.eot");
    src: url("https://http2.mlstatic.com/frontend-assets/ml-web-navigation/ui-navigation/5.21.22/mercadolibre/navigation.eot#iefix") format("embedded-opentype"),url("https://http2.mlstatic.com/frontend-assets/ml-web-navigation/ui-navigation/5.21.22/mercadolibre/navigation.woff2") format("woff2"),url("https://http2.mlstatic.com/frontend-assets/ml-web-navigation/ui-navigation/5.21.22/mercadolibre/navigation.woff") format("woff"),url("https://http2.mlstatic.com/frontend-assets/ml-web-navigation/ui-navigation/5.21.22/mercadolibre/navigation.ttf") format("truetype"),url("https://http2.mlstatic.com/frontend-assets/ml-web-navigation/ui-navigation/5.21.22/mercadolibre/navigation.svg#navigation") format("svg");
}
